@import '../tokens.module.css';

.result[data-clickable='true'] {
	align-items: center;
	cursor: pointer;
	display: flex;
}

.resultEntity {
	align-items: center;
	background-color: var(--arranger-qs-entity-color, var(--arranger-color-grey-300));
	border-radius: var(--arranger-qs-entity-border-radius, 50%);
	display: flex;
	justify-content: center;
	margin: var(--arranger-qs-entity-margin, 6px);
	width: var(--arranger-qs-entity-width, 14%);
}

.resultEntity1 {
	--arranger-qs-entity-color: var(--arranger-color-brand-magenta);
}

.resultEntity2 {
	--arranger-qs-entity-color: var(--arranger-color-brand-sky);
}

.resultEntity3 {
	--arranger-qs-entity-color: var(--arranger-color-brand-orange);
}

.resultEntity4 {
	--arranger-qs-entity-color: var(--arranger-color-brand-teal);
}

.resultEntity5 {
	--arranger-qs-entity-color: var(--arranger-color-brand-red);
}

.resultDetails {
	overflow: hidden;
}

.resultKey {
	font-size: var(--arranger-qs-result-key-font-size, 0.9em);
	line-height: var(--arranger-qs-dropdown-line-height, 220%);
}

.resultValue {
	font-size: var(--arranger-qs-result-value-font-size, 0.7em);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
